/*Smartphone et tablette*/
@media only screen and (max-width:992px) {
    
    .logo img {
        width: 46%;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .nav ul {
        flex-direction: column;
        gap: 20px;
    }
    .nav ul li {
        width: 83%;
        padding: 20px;
        margin: auto;    
    }
    .restaurants h2 {
        padding-top: 30px;
        padding-left: 10px;
        margin-bottom: 5px;
        box-sizing: border-box;
    }

    .restaurants ul {
        width: 100%;
        flex-direction: column;
    }
    .card a {
        width: 100%;
    }
    
    .card-text h4 {
        font-size: 18px;
    }
    .card-text p {
        font-size: 16px;
        font-weight: lighter;
    }
    .card-icon {
        font-size: 22px;
        margin: auto 0;
        position: relative;
    }
    .card-icon-gris::before {
        display: none;
        font-family: 'FontAwesome';
        content: '\f004';
        color: #9356DC;
        position: absolute;
        top: 0;
        right: 16%;
    }
    .card-icon-gris:hover::before {
        display: block;
    }


}
